<h1>Children</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "number" %> </th>
      <th><%= sortable "photo" %> </th>
      <th><%= sortable "active" %> </th>
      <th><%= sortable "living" %> </th>
      <th><%= sortable "schooling" %> </th>
    </tr>
  </thead>
  <% @children.each do |child| %>
    <tr>
      <td> <%= link_to child.name, child %> </td>
      <td> <%= link_to child.number, child %> </td>
      <td> <%= link_to child.photo, child %> </td>
      <td> <%= link_to child.active, child %> </td>
      <td> <%= link_to child.living, child %> </td>
      <td> <%= link_to child.schooling, child %> </ td> 
    </tr>
  <% end %>
</table>
<p><%= link_to "Create new child", new_child_path %></p>
