<h1>Donors</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "address" %></th>
      <th><%= sortable "city" %></th>
      <th><%= sortable "state" %></th>
      <th><%= sortable "postal_code", "Postal Code" %></th>
      <th><%= sortable "country" %></th>
      <th><%= sortable "email" %></th>
   </tr>
  </thead>
  <% @donors.each do |donor| %>
    <tr>
      <td> <%= link_to donor.name, donor %> </td>
      <td> <%= link_to donor.address, donor %> </td>
      <td> <%= link_to donor.city, donor %> </td>
      <td> <%= link_to donor.state, donor %> </td>
      <td> <%= link_to donor.postal_code, donor %> </td>
      <td> <%= link_to donor.country, donor %> </td>
      <td> <%= link_to donor.email, donor %> </td> 
    </tr>
  <% end %>
</table>
