<h1> <%= @donor.name %> </h1>


<p>Address: <%= @donor.address%> </p>
<p>City: <%= @donor.city%> </p>
<p>State: <%= @donor.state%> </p>
<p>Postal Code: <%= @donor.postal_code%> </p>
<p>Country: <%= @donor.country%> </p>
<p>email: <%= @donor.email%> </p>
<p><%= link_to "Edit Donor", edit_donor_path %></p>
<p><%=link_to "Back to All Donors", donors_path%> </p>
