<%= form_for(@sponsorship) do |f| %>
  <% if @sponsorship.errors.any? %>
    <div id="errors explanation">
      <h2><%= pluralize(@sponsorship.errors.count, "error") %> prohibited this sponsorship from being saved:</h2>
      <ul>
        <% @sponsorship.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :donor_id %> <br>
  <%= f.collection_select :donor_id, Donor.order(:name),:id,:name, include_blank: true %>
</div>

<div class="field">
  <%= f.label :child_id %> <br>
  <%= f.collection_select :child_id, Child.order(:name),:id,:name, include_blank: true %>
</div>

<div class="field">
  <%= f.label :sponsorship_type_id %> <br>
  <%= f.collection_select :sponsorship_type_id,SponsorshipType.order(:kind),:id,st_field(params[:kind]) , include_blank: true %>
</div>

<div class="field">
  <%= f.label :active %> <br>
  <%= f.check_box :active %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
