<h1>Sponsorships</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "donor_id", "Donor ID" %></th>
      <th><%= sortable "child_id", "Child ID" %></th>
      <th><%= sortable "sponsorship_type_id", "Sponsorship Type ID" %></th>
      <th><%= sortable "active" %></th>
    </tr>
  </thead>
  <% @sponsorships.each do |sponsorship| %>
    <tr>
      <td> <%= link_to sponsorship.donor_id, sponsorship %> </td>
      <td> <%= link_to sponsorship.child_id, sponsorship %> </td>
      <td> <%= link_to sponsorship.sponsorship_type_id, sponsorship %> </td>
      <td> <%= link_to sponsorship.active, sponsorship %> </td>
    </tr>
  <% end %>
</table>
