<h1>New Sponsorship</h1>
<%= form_for(@sponsorship) do |f| %>
  <% if @sponsorship.errors.any? %>
    <div id="errors explanation">
      <h2><%= pluralize(@sponsorship.errors.count, "error") %> prohibited this sponsorship from being saved:</h2>
      <ul>
        <% @sponsorship.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :donor_id %> <br>
  <%= f.number_field :donor_id %>
</div>

<div class="field">
  <%= f.label :child_id %> <br>
  <%= f.number_field :child_id %>
</div>

<div class="field">
  <%= f.label :sponsorship_type_id %> <br>
  <%= f.number_field :sponsorship_type_id %>
</div>

<div class="field">
  <%= f.label :active %> <br>
  <%= f.check_box :active %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<%= link_to 'Back', sponsorships_path %>
