<h1><%=@payment.month_year%></h1>

<p>Date: <%= @payment.month_year%> </p>
<p>Sponsorship ID: <%= @payment.sponsorship_id%> </p>
<p>Method: <%= @payment.method%> </p>

<p><%=link_to "Back to All Payments", payments_path%> </p>

